html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151f;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  margin: 20px;
}

.main-video {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.main-video img {
  width: 100%;
}

.card {
  width: 19.2%;
  height: 17vh;
  margin: 0.4%;
  border-radius: 5%;
  filter: drop-shadow(5px 5px 10px #000);
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.video-image {
  width: 100%;
  position: absolute;
  top: 0;
}

.info {
  position: relative;
  max-width: 50%;
  margin-left: 50px;
  margin-top: 30%;
  color: #55585e;
}

.video-overlay {
  position: absolute;
}

.actualVideo {
  position: relative;
}

.closeButton {
  position: absolute;
  z-index: 22;
  right: 0;
  top: 0;
}

.account-info {
  display: flex;
  height: 50%;
  margin-top: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.franchise {
  background-color: #808080;
  width: 20%;
  border-radius: 10px;
  margin: 5px;
}

.video-feed {
  display: flex;
}

.logo-container {
  padding: 10px 30px;
}
